.qw .item {
  float: left;
  list-style: none;
  position: relative;
  width: 249px;
  margin-right: 13px;
}
.qw .item .imgBox {
  position: relative;
  background-color: #eee;
}
.qw .item .imgBox img {
  width: 249px;
  height: 320px;
  display: block;
  margin: 0 auto;
}
.qw .item .infoBox {
  max-height: 50px;
  margin-top: 12px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
.qw .item .infoBox a {
  cursor: pointer;
  color: black;
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
}
.qw .item .infoBox .salePrice {
  display: inline-block;
  padding-top: 9px;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
}
.qw .item .infoBox .sale {
  display: inline-block;
  padding-right: 8px;
  font-weight: 800;
  font-size: 16px;
  color: #fa622f;
  line-height: 20px;
}

.qw .item .infoBox .marketPrice {
  display: block;
  padding-top: 5px;
  font-size: 14px;
  color: #999;
  line-height: 18px;
  text-decoration: line-through;
}

.qw .item .infoBox .price {
  display: inline-block;
}
