.md-items {
  display: inline-block;
  width: 165px;
  padding: 0 0 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 0;
}
.md-items li {
  display: inline-block;
  padding: 0 4px 10px;
}
.md-items li a {
  display: inline-block;
  text-decoration: none;
  height: 28px;
  padding: 9px 20px 0 19px;
  border: 1px solid #f7f7f6;
  color: #333;
  border-radius: 20px;
  background-color: #f7f7f7;
  font-size: 14px;
  line-height: 18px;
}
.md-items li a:hover {
  color: purple;
  cursor: pointer;
}
.md-items li a:active {
  background-color: purple;
  color: white;
}
