html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  overflow-x: hidden;
}
header,
body,
input,
select,
textarea,
button {
  font-family: "noto sans";
  line-height: 1;
  letter-spacing: -0.05em;
  color: #4c4c4c;
  font-size: 12px;
  max-width: 100%;
}
ul,
li {
  list-style: none;
}
.hkhk {
  width: 100%;
  height: 157px;
}

.header {
  margin: 0 auto;
  width: 1050px;
  background-color: #fff;
  height: 156px;
  color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
}
.header-firLine {
  width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin: 7px 0px 0px 0px;
}
.header-firLine .HeaderMenu ul > li {
  font-size: 12px;
  float: left;
  cursor: pointer;
  padding: 0 20px 0 0px;
  margin: 4px;
  display: block;
}

.header .header-menu-signup {
  color: purple;
}

.headerLogo {
  position: relative;
  width: 103px;
  height: 79px;
  top: -15px;
  left: 473px;
}
.header .headerCategory {
  display: flex;
  margin: 0 auto;
  height: 56px;
  width: 1050px;
  background-color: #fff;
  font-family: "Noto Sans";
  letter-spacing: -0.3px;
}
.headerCategory ul > li {
  float: left;
  width: 133px;
  height: 2px;
  font-size: 16px;
  color: #333;
  line-height: 10px;
  text-align: center;
  padding: 14px 0 0 0;
  cursor: pointer;
  display: block;
}
.headerCategory ul > li:hover {
  color: #5f0081;
  text-decoration: underline;
}

.header .search input {
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-radius: 18px;
  float: right;
  outline: none;
  right: 108px;
  top: 10px;
  width: 242px;
  height: 35px;
  color: #666;
  font-size: 12px;
  padding-left: 14px;
  background-image: url("https://res.kurly.com/pc/service/common/1908/ico_search_x2.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: right;
  font-size: 12px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -1px;
}

.headerCategory .adress-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: relative;
  top: 3px;
  cursor: pointer;
  position: relative;
  background-image: url("https://res.kurly.com/pc/ico/2008/ico_delivery_setting.svg?ver=1");
  margin: -4px 20px 0px 47px;
}

.headerCategory .cart-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  position: relative;
  top: 3px;
  cursor: pointer;
  position: relative;
  margin: -2px 20px 0px 55px;
  background-image: url("https://res.kurly.com/pc/service/common/2011/ico_cart.svg");
}
